
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../asset/css/style.css">

        <title>Mentions</title>
        <link rel="icon" type="image/x-icon" href="../asset/image/letter-p.ico">
    
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
        $(function(){
            $("#header").load("../asset/header.html"); 
            $("#footer").load("../asset/footer.html"); });
    </script> 
    </head>
<body>
    <div id="header"></div>
    <h1>MENTIONS</h1>
    <div class="classic">
        <h2>CRÉDITS</h2>
        <p>J'ai utilisé des icones trouvé sur <a href="https://www.flaticon.com">Flaticon</a> dont voici les auteurs :</p>

                <ul><a href="https://www.flaticon.com/fr/icones-animees-gratuite/telephone" title="téléphone icônes animées">Téléphone icônes animées créées par Freepik - Flaticon</a></ul>
                <ul><a href="https://www.flaticon.com/fr/icones-animees-gratuite/email" title="email icônes animées">Email icônes animées créées par Freepik - Flaticon</a></ul>
                <ul><a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by riajulislam - Flaticon</a></ul>
                <ul><a href="https://www.flaticon.com/free-icons/letter-p" title="letter-p icons">Letter-p icons created by Hight Quality Icons - Flaticon</a></ul>

        </li>
        
    </div>
    

    <div id="footer"></div>
</body>
</html>