<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../asset/css/style.css">

        <title>Stages</title>
        <link rel="icon" type="image/x-icon" href="../asset/image/letter-p.ico">
    
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
        $(function(){
            $("#header").load("../asset/header.html"); 
            $("#footer").load("../asset/footer.html"); });
    </script> 
    </head>
<body>
    <div id="header"></div>

    <h1>STAGES</h1>

    <div class="classic">

        <div class="ContainerStage">

            <a class="widgetLink" href="../template/stage/uplix2023.html">
                <div class="widgetStage">
                    <div class="widgetTitre"><h4>Stage chez Uplix en 2023</h4></div>
                    <div class="widgetImageStage"><img class="widgetImageStage" src="../asset/image/Uplix.png"></div>
                    <div class="widgetDescription"><p>Au cours de mon cursus j'ai réalisé un stage de 6 semaines chez Uplix; Une agence digitale spécialisée dans le SEO</p></div>
                </div>
            </a>

            <a class="widgetLink" href="../template/stage/uplix2022.html">
            <div class="widgetStage">
                <div class="widgetTitre"><h4>Stage chez Uplix en 2022</h4></div>
                <div class="widgetImageStage"><img class="widgetImageStage" src="../asset/image/Uplix.png"></div>
                <div class="widgetDescription"><p>Au cours de mon cursus j'ai réalisé un stage de 5 semaines chez Uplix; Une agence digitale spécialisée dans le SEO</p></div>
            </div>
            </a>

            

        </div>

    </div>

    

    <div id="footer"></div>
</body>
</html>