<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../asset/css/style.css">

        <title>Veilles</title>
        <link rel="icon" type="image/x-icon" href="../asset/image/letter-p.ico">
    
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
        $(function(){
            $("#header").load("../asset/header.html"); 
            $("#footer").load("../asset/footer.html"); });
    </script> 
    </head>
<body>
    <div id="header"></div>

    <h1>VEILLES TECHNOLOGIQUES</h1>

    <div class="classic">

        <div class="Container">

            <a class="widgetLink" href="../template/veille/openAi.html">
            <div class="widget">
                <div class="widgetTitre"><h4>OpenAI</h4></div>
                <div class="widgetImage"><img class="widgetImage" src="../asset/image/OpenAI_Logo_(2).svg.png"></div>
                <div class="widgetDescription"><p>Lorem ipsum</p></div>
            </div>
            </a>
            
            <a class="widgetLink" href="../template/veille/copilot.html">
            <div class="widget">
                <div class="widgetTitre"><h4>Copilot</h4></div>
                <div class="widgetImage"><img class="widgetImage" src="../asset/image/GitHub-Copilot-logo-1040x650.png"></div>
                <div class="widgetDescription"><p>Lorem ipsum</p></div>
            </div>
            </a>

            <a class="widgetLink" href="../template/veille/fiture.html">
            <div class="widget">
                <div class="widgetTitre"><h4>Fiture</h4></div>
                <div class="widgetImage"><img class="widgetImage" src="../asset/image/image.png"></div>
                <div class="widgetDescription"><p>Lorem ipsum</p></div>
            </div>
            </a>

            <a class="widgetLink" href="../template/veille/deepmind.html">
            <div class="widget">
                <div class="widgetTitre"><h4>Deepmind</h4></div>
                <div class="widgetImage"><img class="widgetImage" src="../asset/image/google-deepmind-presentation.png"></div>
                <div class="widgetDescription"><p>Lorem ipsum</p></div>
            </div>
            </a>

            <a class="widgetLink" href="../template/veille/DLSS.html">
            <div class="widget">
                <div class="widgetTitre"><h4>DLSS</h4></div>
                <div class="widgetImage"><img class="widgetImage" src="../asset/image/nvidia-logo.png"></div>
                <div class="widgetDescription"><p>Lorem ipsum</p></div>
            </div>
            </a>



            

        </div>

    </div>

    

    <div id="footer"></div>
</body>
</html>