<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../asset/css/style.css">
        <link rel="stylesheet"  href="../../asset/css/slider.css">

        <script src="../../asset/javascript/script.js"></script>

        <title>Stage chez Uplix</title>
        <link rel="icon" type="image/x-icon" href="../../asset/image/letter-p.ico">

        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
          $(function(){
              $("#headerN").load("../../asset/headerN.html"); 
              $("#footer").load("../asset/footer.html"); });
      </script> 
    </head>
<body>
  <div id="headerN"></div>


    <h1>STAGE DE 2022 CHEZ UPLIX</h1>

    <div class="classic">

    
    <h2>RAPPORT DE STAGE</h2>
    <p>Mon rapport de stage est consultable ci-dessous ou téléchargeable <a href="../../asset/download/Rapport_de_stage_Uplix_2022_Arnaud_MIROCHA.pdf" download="">ici</p>
        <embed src="../../asset/download/Rapport_de_stage_Uplix_2022_Arnaud_MIROCHA.pdf" width="100%" height="700px" type='application/pdf'/>

    <!--<p>télécharger le projet directement <a href="../../asset/download/AP_REPAS.zip" download>ici</a></p>-->


    </div>

</body>
</html>