<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../asset/css/style.css">
        <link rel="stylesheet"  href="../../asset/css/slider.css">

        <script src="../../asset/javascript/script.js"></script>

        <title>Fiture</title>
        <link rel="icon" type="image/x-icon" href="../../asset/image/letter-p.ico">
    
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
          $(function(){
              $("#headerN").load("../../asset/headerN.html"); 
              $("#footer").load("../asset/footer.html"); });
      </script> 
    </head>
<body>
  <div id="headerN"></div>


    <h1>UN COACH SPORTIF GRÂCE À FITURE</h1>

    <div class="classic">


    <p>télécharger la veille directement <a href="../../asset/download/Veille Un coach sportif à domicile avec Fiture – ArnaudMirocha-Portfolio.pdf" download>ici</a></p>
    <p>Ou consultez là juste en ci-dessous</p>


    </div>

</body>
</html>