<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../asset/css/style.css">
        <link rel="stylesheet"  href="../../asset/css/slider.css">

        <script src="../../asset/javascript/script.js"></script>

        <title>AP GSB AMM</title>
        <link rel="icon" type="image/x-icon" href="../../asset/image/letter-p.ico">

        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
          $(function(){
              $("#headerN").load("../../asset/headerN.html"); 
              $("#footer").load("../asset/footer.html"); });
      </script> 
    </head>
<body>
  <div id="headerN"></div>


    <h1>PROJET GSB AMM</h1>

    <div class="classic">

    
    <h2>CONTEXTE</h2>
    <p>Projet de classe réalisé par groupe de 3 en 16 heures consistant à réaliser une application de gestions de mise sur 
        le marché de médicaments en C# pour l'entreprise pharmaceutique Galaxy Swiss Bourdin. <br/>
        Le github du projet et le reedme sont disponibles <a href="https://github.com/duchenec-coder/AP2-BTS2-SLAM-GSB">ici</a>.
    </p>
    <p>Pour télécharger l'application et le script de construction de base de données c'est <a href="../../asset/download/AP2-BTS2-SLAM-GSB-Master.zip" download>ici</a>!</p>

    <!--<p>télécharger le projet directement <a href="../../asset/download/AP_REPAS.zip" download>ici</a></p>-->


    </div>

</body>
</html>