<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../asset/css/style.css">
        <link rel="stylesheet"  href="../../asset/css/slider.css">

        <script src="../../asset/javascript/script.js"></script>

        <title>Projet CentreCall Ticket</title>
        <link rel="icon" type="image/x-icon" href="../../asset/image/letter-p.ico">
    
        
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html"><img id="logo" src="../../asset/image/letter-p.ico"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              
              <li class="nav-item">
                <a class="nav-link" href="../../template/projet.html">Projets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../template/veilles.html">Veilles Technologiques</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../template/stages.html">Stages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../template/certification.html">Certifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../template/mention.html">Mentions</a>
              </li>
              
            </ul><!--
            <div class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            <div>-->
          </div>
        </div>
      </nav>


    <h1>AP CentreCall Ticket</h1>

    <div class="classic">

    
    <h2>CONTEXTE</h2>
    <p>Atelier de Professionnalisation n°4 réalisée en C# consistant à simuler l’interface de gestion de ticket d’incident d’une entreprise à partir de données stockées dans des fichier csv. L’AP c’est déroulée sur 8 heures et a été réalisé par équipe de 3 personnes.</p>
    <p>Pour télécharger le projet c'est <a href="../../asset/download/AP3_projet.zip" download="">ici</a> !</p>

    <!--<p>télécharger le projet directement <a href="../../asset/download/AP_REPAS.zip" download>ici</a></p>-->


    </div>

</body>
</html>