<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../asset/css/style.css">
        <link rel="stylesheet"  href="../../asset/css/slider.css">

        <script src="../../asset/javascript/script.js"></script>

        <title>Projet CentreCall Ticket</title>
        <link rel="icon" type="image/x-icon" href="../../asset/image/letter-p.ico">
    
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
          $(function(){
              $("#headerN").load("../../asset/headerN.html"); 
              $("#footer").load("../asset/footer.html"); });
      </script> 
    </head>
<body>
  <div id="headerN"></div>


    <h1>AP CentreCall Ticket</h1>

    <div class="classic">

    
    <h2>CONTEXTE</h2>
    <p>Atelier de Professionnalisation n°4 réalisée en C# consistant à simuler l’interface de gestion de ticket d’incident d’une entreprise à partir de données stockées dans des fichier csv. L’AP c’est déroulée sur 8 heures et a été réalisé par équipe de 3 personnes.</p>
    <p>Pour télécharger le projet c'est <a href="../../asset/download/AP3_projet.zip" download="">ici</a> !</p>

    <!--<p>télécharger le projet directement <a href="../../asset/download/AP_REPAS.zip" download>ici</a></p>-->


    </div>

</body>
</html>