<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../asset/css/style.css">
        <link rel="stylesheet"  href="../../asset/css/slider.css">

        <script src="../../asset/javascript/script.js"></script>

        <title>Digicode</title>
        <link rel="icon" type="image/x-icon" href="../../asset/image/letter-p.ico">
    
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
          $(function(){
              $("#headerN").load("../../asset/headerN.html"); 
              $("#footer").load("../asset/footer.html"); });
      </script> 
    </head>
<body>
  <div id="headerN"></div>


    <h1>DIGICODE</h1>

    <div class="classic">

    
    <h2>CONTEXTE</h2>
    <p>Atelier de Professionnalisation n°2 consistant à développer une application en C# (windows form) simulant un digicode
         et gérant les entrés dans un bâtiment avec un système de mot de passe et de matricule ainsi que la gestion des fichiers dans lesquels ils sont stockés.
         L’AP s’est déroulé sur 12 heures en groupe de 3.

    <p>Télécharger le projet directement <a href="../../asset/download/Eleve_3_Interface_de_connexion.zip" download>ici</a>.<br>
        Le matricule est <b>5874</b> et le mot de passe <b>BOCOKE</b>.
    </p>

<!---
    <h2>QUELQUES PHOTOS</h2>

    
    <div id="slider">
      <img class="screenshot" src="symfony/accueilSymfony.png" alt="ACCUEIL" id="slide">
      <div id="precedent" onclick="ChangeSlide(-1)"><</div>
      <div id="suivant" onclick="ChangeSlide(1)">></div>
  </div>
-->


    <!--<h2>QUELQUES PHOTOS</h2>
    <h3>ACCUEIL</h3>
    <img class="screenshot" src="symfony/accueilSymfony.png">

    <h3>CRÉATION DE COMPTE</h3>
    <img class="screenshot" src="symfony/creationCompte.png">

    <h3>CONNEXION</h3>
    <img class="screenshot" src="symfony/connectionSymfony.png">

    <h3>CONTACT</h3>
    <img class="screenshot" src="symfony/contactSymfony.png">-->

    </div>

</body>
</html>