<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../asset/css/style.css">
        <link rel="stylesheet"  href="../../asset/css/slider.css">

        <script src="../../asset/javascript/script.js"></script>

        <title>GSB Vistat</title>
        <link rel="icon" type="image/x-icon" href="../../asset/image/letter-p.ico">
    
        
    </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" href="../../index.html"><img id="logo" src="../../asset/image/letter-p.ico"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" onclick="showNav()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="../../template/projet.html">Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../template/veilles.html">Veilles Technologiques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../template/stages.html">Stages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../template/certification.html">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../template/mention.html">Mentions</a>
          </li>
          
        </ul><!--
        <div class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        <div>-->
      </div>
    </div>
  </nav>
  <div id="boutonDeNav">
    <div id="nav-link-button-div">
    <a id="nav-link-button" href="../../template/projet.html">Projets</a><br>
    <a id="nav-link-button" href="../../template/veilles.html">Veilles Technologiques</a><br>
    <a id="nav-link-button" href="../../template/stages.html">Stages</a><br>
    <a id="nav-link-button" href="../../template/certification.html">Certifications</a><br>
    <a id="nav-link-button" href="../../template/mention.html">Mentions</a><br>
    </div>
  </div>


    <h1>PROJET GSB VSITAT</h1>

    <div class="classic">

    
    <h2>CONTEXTE</h2>
    <p>Atelier de Professionnalisation n°3 consistant à exporter un base de donnée sur un fichier Excel en respectant une charte graphique, 
        puis de faire des tableaux croisés dynamiques avec ces même données. 
        L’AP s’est déroulé sur 8 heures en groupe de 3.

    <p>télécharger le rapport du projet directement <a href="../../asset/download/gsb_vistat_g5_CP_MIROCHA.docx" download>ici</a></p>

<!---
    <h2>QUELQUES PHOTOS</h2>

    
    <div id="slider">
      <img class="screenshot" src="symfony/accueilSymfony.png" alt="ACCUEIL" id="slide">
      <div id="precedent" onclick="ChangeSlide(-1)"><</div>
      <div id="suivant" onclick="ChangeSlide(1)">></div>
  </div>
-->


    <!--<h2>QUELQUES PHOTOS</h2>
    <h3>ACCUEIL</h3>
    <img class="screenshot" src="symfony/accueilSymfony.png">

    <h3>CRÉATION DE COMPTE</h3>
    <img class="screenshot" src="symfony/creationCompte.png">

    <h3>CONNEXION</h3>
    <img class="screenshot" src="symfony/connectionSymfony.png">

    <h3>CONTACT</h3>
    <img class="screenshot" src="symfony/contactSymfony.png">-->

    </div>

</body>
</html>