<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../asset/css/style.css">
        <link rel="stylesheet"  href="../../asset/css/slider.css">

        <script src="../../asset/javascript/script.js"></script>

        <title>Symfony</title>
        <link rel="icon" type="image/x-icon" href="../../asset/image/letter-p.ico">
    
        
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html"><img id="logo" src="../../asset/image/letter-p.ico"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              
              <li class="nav-item">
                <a class="nav-link" href="../../template/projet.html">Projets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Veilles Technologiques</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Stages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Certifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../template/mention.html">Mentions</a>
              </li>
              
            </ul><!--
            <div class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            <div>-->
          </div>
        </div>
      </nav>


    <h1>PROJET REPAS ELIOR</h1>

    <div class="classic">

    
    <h2>CONTEXTE</h2>
    <p>Atelier de Professionnalisation n°5 réalisée en PHP, HTML, CSS et SQL consistant à simuler l’interface d’un site de gestion de cantine scolaire. 
    L’AP c’est déroulé sur 12 heures et a été réalisé en équipe de 3 personnes.

    <p>télécharger le projet directement <a href="../../asset/download/AP_REPAS.zip" download>ici</a></p>

<!---
    <h2>QUELQUES PHOTOS</h2>

    
    <div id="slider">
      <img class="screenshot" src="symfony/accueilSymfony.png" alt="ACCUEIL" id="slide">
      <div id="precedent" onclick="ChangeSlide(-1)"><</div>
      <div id="suivant" onclick="ChangeSlide(1)">></div>
  </div>
-->


    <!--<h2>QUELQUES PHOTOS</h2>
    <h3>ACCUEIL</h3>
    <img class="screenshot" src="symfony/accueilSymfony.png">

    <h3>CRÉATION DE COMPTE</h3>
    <img class="screenshot" src="symfony/creationCompte.png">

    <h3>CONNEXION</h3>
    <img class="screenshot" src="symfony/connectionSymfony.png">

    <h3>CONTACT</h3>
    <img class="screenshot" src="symfony/contactSymfony.png">-->

    </div>

</body>
</html>