<!DOCTYPE html>
<header>

  

  <meta charset="UTF-8">

  <link href="Style.css" media="all" rel="stylesheet" type="text/css" />
  <link href="bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
   
  <script src="Scripts.js"></script>

  <title>Netflix (le vrai)</title>
  <link rel="icon" type="image/x-icon" href="NetflixIco.ico">

</header>

<body onload="getFilm()">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="Site_API.html"></a><img src="netflix.png" onclick="resetPage()" id="imgAccueil"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
            </ul>
                <div style="margin-right: 5px;"><input type="text" placeholder="Titre de film" id="searchBar"/></div>
                <button onclick="SearchFilm()">Rechercher</button>
          </div>
        </div>
      </nav>

    <div class="Container" id="Container">

    </div>

    <div id="footer">
    <button onclick="previousPage()">Page précédente</button>
    <button onclick="nextPage()">Page suivante</button>
    </div>
    

    
</body>